$cv-experience-card-padding: 16px; // per material design spec

.cv-experience-card {
  position: relative;

  & + .cv-experience-card {
    margin-top: 24px;
  }

  &__where {
    @include mdc-typography(headline4);
    margin: 0;
  }

  &__position {
    @include mdc-typography(headline6);
    margin: 0;
  }

  &__location-when-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $cv-experience-card-padding;
    margin: 0;
    min-height: 32px + 2 * $cv-experience-card-padding;

    @include mdc-card-fill-color(secondary);
    color: $mdc-theme-on-secondary;
  }

  &__location, &__when {
    @include mdc-typography(headline6);
    font-weight: normal;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding: $cv-experience-card-padding;
    height: 32px + 2 * $cv-experience-card-padding;
  }

  &__location {
    padding-left: 0;
  }

  &__header {
    @include mdc-card-fill-color(primary);
    color: $mdc-theme-on-primary;


    &--inner {
      position: relative;
      padding: $cv-experience-card-padding;
      padding-bottom: 32px + 3 * $cv-experience-card-padding;
    }
  }
}
