@use "./theme" as theme;

@use "@material/typography" as mdc-typography;
@use "@material/top-app-bar/variables" as mdc-top-app-bar-vars;

$cv-hero-height: 50vh;
$cv-hero-height--sm: 30vh;

.cv-hero {
  position: absolute;
  padding-top: 20px + 56px; // To account for nav bar, drawer inset, etc.
  padding-left: 50px;
  padding-right: 50px;
  top: 0;
  left: 0;
  width: 100%;
  min-height: $cv-hero-height;

  background-color: theme.$mdc-theme-primary;
  color: theme.$mdc-theme-on-primary;

  @media (max-width: theme.$breakpoint-sm) {
    position: static;

    min-height: calc(
      $cv-hero-height--sm + theme.$main-content-margin-vert--sm +
        mdc-top-app-bar-vars.$mobile-row-height
    );

    width: calc(100% + #{2 * theme.$main-content-margin-horiz--sm});

    margin-top: calc(
      #{-1 * theme.$main-content-margin-vert--sm} - #{mdc-top-app-bar-vars.$mobile-row-height}
    );

    margin-left: #{-1 * theme.$main-content-margin-horiz--sm};
    margin-right: #{-1 * theme.$main-content-margin-horiz--sm};
  }

  h1 {
    @include mdc-typography.typography(headline1);

    @media (max-width: theme.$breakpoint-sm) {
      @include mdc-typography.typography(headline2);
    }
  }

  h2 {
    @include mdc-typography.typography(headline4);

    @media (max-width: theme.$breakpoint-sm) {
      @include mdc-typography.typography(headline6);
      line-height: 1.25rem;
    }
  }

  &__inner {
    position: absolute;
    bottom: 0;

    @media (max-width: theme.$breakpoint-sm) {
      position: static;
      bottom: auto;
    }
  }

  &--spacer {
    height: calc(#{$cv-hero-height} - 20px - 56px);

    @media (max-width: theme.$breakpoint-sm) {
      display: none;
    }
  }
}
