/* Typography */
$mdc-typography-font-family: unquote("Roboto, sans-serif");

/* Shape */
$mdc-shape-small-component-radius: 4px;
$mdc-shape-medium-component-radius: 4px;
$mdc-shape-large-component-radius: 0px;

/* Color */
// To change your theme's color scheme, replace the existing HEX color values
// with custom HEX color values. Use our color palette generator to help come up
// with pairings and check your color contrast.
// https://material.io/design/color/the-color-system.html#tools-for-picking-colors

// Primary colors ($mdc-theme-primary) map to components such as app bars and
// buttons, while secondary colors ($mdc-theme-secondary) are used as accents on
// components such as FABs and selection controls.
$mdc-theme-primary: #1976d2;
$mdc-theme-primary-light: #63a4ff;
$mdc-theme-primary-dark: #004ba0;
$mdc-theme-secondary: #ffbf00;
$mdc-theme-secondary-light: #fff14e;
$mdc-theme-secondary-dark: #c78f00;

// Theme background ($mdc-theme-background) appears behind scrollable content.
// Surface color ($mdc-theme-surface) is mapped to the surface of components
// such as cards, sheets, and menus. Error color ($mdc-theme-error) is used to
// indicate an error state for components such as text fields provided with
// inaccurate input.

$mdc-theme-surface: #ffffff;
$mdc-theme-background: #ffffff;
$mdc-theme-error: #b00020;

// “On-” colors define how text, icons, and strokes are colored in relation to
// the surface on which they appear. If you are updating these manually, be sure
// to consider accessible color contrast for the value pairs.

$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #000000;
$mdc-theme-on-error: #ffffff;
$mdc-theme-on-surface: #000000;

/* Breakpoints */
$breakpoint-sm: 900px;

:root {
  /* Typography */
  --mdc-typography-font-family: #{$mdc-typography-font-family};

  /* Shape */
  --mdc-shape-small-component-radius: #{$mdc-shape-small-component-radius};
  --mdc-shape-medium-component-radius: #{$mdc-shape-medium-component-radius};
  --mdc-shape-large-component-radius: #{$mdc-shape-large-component-radius};

  /* Color */
  --mdc-theme-primary: #{$mdc-theme-primary};
  --mdc-theme-primary-light: #{$mdc-theme-primary-light};
  --mdc-theme-primary-dark: #{$mdc-theme-primary-dark};
  --mdc-theme-secondary: #{$mdc-theme-secondary};
  --mdc-theme-secondary-light: #{$mdc-theme-secondary-light};
  --mdc-theme-secondary-dark: #{$mdc-theme-secondary-dark};

  --mdc-theme-surface: #{$mdc-theme-surface};
  --mdc-theme-background: #{$mdc-theme-background};
  --mdc-theme-error: #{$mdc-theme-error};

  --mdc-theme-on-primary: #{$mdc-theme-on-primary};
  --mdc-theme-on-secondary: #{$mdc-theme-on-secondary};
  --mdc-theme-on-error: #{$mdc-theme-on-error};
  --mdc-theme-on-surface: #{$mdc-theme-on-surface};

  /* Breakpoints */
  --breakpoint-sm: #{$breakpoint-sm};
}
