@use "theme"; // This should be imported first!

@use "@material/drawer";
@use "@material/list";
@use "@material/button/styles" as button-styles;
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";
@use "@material/icon-button/styles" as icon-button-styles;
@use "@material/elevation/mdc-elevation";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/card";
@use "@material/chips/styles" as mdc-chip-styles;

@use "navigation";
@use "typography";
@use "hero";
@use "experience";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include card.core-styles;

body {
  background: #f5f5f5;
  display: flex; // Removes top gap between modal and viewport
  min-height: 100vh; // Ensures that permanent drawer extends to bottom of viewport
  margin: 0; // Removes top gap between app bar and viewport
}

.main-content {
  margin: 20px 50px;
}

.cv-app-content {
  flex: 1;
}
