<div class="cv-hero">

  <!-- prettier-ignore -->
  {%- for item in site.data.pages -%}
    {%- if item.link == page.url and item.heroImg -%}
      {%- assign heroImgPath = item.heroImg | prepend: "hero/" -%}
      {%- picture cv-hero {{heroImgPath}} --alt Hero image --parent class="cv-hero__bg-image" -%}
    {%- endif -%}
  {%- endfor -%}

  <div class="cv-hero__inner">
    {% if include.showHelloIAm %}
      <h2>Hello! I am</h2>
    {% endif %}

    <h1>{{ include.header }}</h1>

  </div>

</div>

<div class="cv-hero--spacer"></div>
