<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/generated/bundle.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ seo }}
  </head>
  <body class="mdc-typography">
    {% include navigation.html %}

    <div class="mdc-drawer-app-content cv-app-content">

      <header class="mdc-top-app-bar mdc-top-app-bar--short mdc-top-app-bar--short-collapsed">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a href="javascript:void(0);" class="cv-menu material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</a>
          </section>
        </div>
      </header>

      <main class="main-content">
        <div class="mdc-top-app-bar--short-fixed-adjust">
          {% include hero.html header=page.header showHelloIAm=page.showHelloIAm %}
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell-span-2-desktop"></div>
              <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-8-desktop">
                {{ content }}
              </div>
              <div class="mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell-span-2-desktop"></div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="{{ "/assets/generated/bundle.js" | relative_url }}" async></script>
  </body>
</html>
